# backend
backend/env/

backend/.env
__pycache__/
.flaskenv
.python-version
.venv

*.json




.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env


/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
notes.txt
frontend/.env
